blinker==1.9.0
click==8.1.8
essentia-tensorflow==2.1b6.dev1177
Flask==2.3.3
Flask-Cors==4.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==1.26.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
Werkzeug==3.1.3
